nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: rgb(245, 121, 20);
}

.navigation-bar {
    list-style-type: none;
    margin-top: 110px;
    margin-right: 30px;
}

.navigation-bar li {
    padding: 5px;
    font-size: large;
    border: 2px solid black;
    box-shadow: -10px 10px 5px 0px;
    text-align: center;
    background-image: url(pictures/orange-to-black.jpg);
}

.navigation-bar li:not(:last-child) {
    margin-bottom: 15px;
}

.navigation-bar li a:link, a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.navigation-bar li a:hover, a:active {
    color:aquamarine;
    text-decoration: none;
}

.tutorial-sub-menu {
    display: none;
    transform: translate(104.5%, -10.5%);
}
    
.tutorial:hover .tutorial-sub-menu {
    display: block;
    float: right;
}

.tutorial-sub-menu ul {
    list-style-type: none;
    border: 2px solid black;
    box-shadow: 0px 5px 3px 0px;
    text-align: center;
    background-image: url(pictures/orange-to-black.jpg);
    margin: -10%;
    margin-left: 0;
    padding: 0;
}

.tutorial-sub-menu li {
    margin: 5%;
    box-shadow: -5px 5px 3px 0px;
}

body {
    margin: 0;
    background-color: rgb(255, 234, 112);
}

main {
    margin-left: 20%;
}

